<top-bar></top-bar>
<md-content layout="column" class="library-block">
    <div layout="row">
        <md-button flex="10" class="md-raised" ui-sref="home"><i class="fa fa-chevron-left" aria-hidden="true"></i>&nbsp;Songs</md-button>
    </div>
    <div layout="column" layout-align="center center" class="about-block">
        <h2>About Musik</h2>
        <p>A minimalistic cross-platform music player</p>
        <img class="vivek-image" src="./img/vivek.png" />
        <p><a class="cursor-pointer" ng-click="openLink('https://github.com/vivekbharatha/musik')">Made</a> with &hearts; from <a class="cursor-pointer" ng-click="openLink('https://www.linkedin.com/in/vivek-bharatha-a76b3349')">Vivek Bharatha</a></p>
    </div>
</md-content>