<md-content flex="100">
    <h1 class="header-title">MusiX</h1>
</md-content>
<md-content flex="50" flex-offset="25">
    <form class="musicPathForm">
        <md-button class="md-raised" ng-click="selectFile()">Select Folder</md-button>
        <input id="musicPath" type="file" directory webkitdirectory name="musicPath"
               onchange="angular.element(this).scope().onFileChange(this)"/>
    </form>
</md-content>

<md-content flex="100" layout="column" class="songs-list">
    <div class="song" layout="row" layout-wrap ng-repeat="song in songs" ng-click="triggerAudio(song)">
        <p flex="90">{{ song.title }}</p>
        <!--<p flex="5"><i class="fa" ng-class="song.isPlaying && currentSong == song ? 'fa-pause': 'fa-play'" aria-hidden="true"></i></p>-->
        <p flex="10" ng-show="currentSong == song">{{time}}</p>
        <p flex="100" ng-show="currentSong == song"><md-progress-linear md-mode="determinate" value="{{progress}}"></md-progress-linear></p>
    </div>
    <audio src="" id="player" controls class="hide"></audio>
</md-content>